$header-size: 40px;
$body-size: 18px;
$header-small: 36px;
$accent-color: #EB0014;
$mono-font: 'DM Mono', monospace;

.error, .message {
  text-align: center;
  margin-top: 0;
}
.error {
  font-family: $mono-font;
  font-weight: bold;
  font-size: 200px;
  color: $accent-color;
  margin-bottom: 25px;
  margin-top:-25px;
}
.message {
  font-weight: bold;
  font-size: $header-size;
}

@media only screen and (max-width: 601px) {
  .error {
    font-size: 140px;
  }
  .message {
    font-size: $header-small;
  }
}
