@import url('https://fonts.googleapis.com/css?family=Lato:400,700,900&display=swap');

$subheader-size: 24px;
$body-size: 18px;
$caption-size: 12px;
$subheader-small: 24px;
$body-small: 13.5px;
$caption-small: 9px;
$accent-color: #FF3B4A;
$gray-color: #A6A6A6;
$transition-speed: 0.3s;

.large, .contact, .section, .resume-title, .resume-company, .resume-description, .resume-caption {
  margin: 0;
}
.large {
  font-size: 52px;
  font-weight: 900;
}
.contact {
  font-size: $caption-size;
  margin: 5px 0;
  .fa-envelope, .fa-linkedin-in {
    font-size: $caption-size;
    padding: 0 10px 0 0;
    color: $accent-color;
  }
  a {
    color: $accent-color;
    &:hover {
      transition: $transition-speed;
      color: $gray-color;
    }
  }
}
.section {
  font-size: $subheader-size;
  font-weight: bold;
  color: black;
  text-transform: uppercase;
}
.resume-company, .resume-title {
  font-size: $body-size;
  font-weight: normal;
  color: black;
  span {
    font-weight: bold;
  }
}
.resume-title {
  font-weight: bold;
}
.resume-caption {
  font-family: input-mono, monospace;
  font-size: $caption-size;
  color: $gray-color;
  margin-top: 5px;
}
.resume-company, .resume-caption {
  text-align:right;
}
.resume-description {
  font-size: $body-size;
  color: $gray-color;
  margin-top: 10px;
  a {
    color: $accent-color;
    &:hover {
      transition: $transition-speed;
      color: $gray-color;
    }
  }
}

@media only screen and (max-width: 601px) {
  .large {
    font-size: 40px;
  }
  .section {
    font-size: $subheader-small;
  }
  .resume-title, .resume-company .resume-description {
    font-size: $body-small;
  }
  .resume-caption, .contact {
    font-size: $caption-small;
  }
}
