@import url("https://use.typekit.net/pvq3wca.css");
$header-size: 40px;
$subheader-size: 24px;
$body-size: 18px;
$caption-size: 13px;
$header-small: 36px;
$subheader-small: 21px;
$body-small: 16px;
$caption-small: 12px;
$accent-color: #FF3B4A;
$gray-color: #757575;
$transition-speed: 0.3s;
$bold: 500;
$rounded-border: 6px;
$shadow: 0px 0px 4px 0px rgba(0,0,0,0.2);
$mono-font: source-code-pro, monospace;

.container-xxl,.container-xl,.container-l,.container-m,.container-s,.container-xs,.container-xxs{margin:0 auto;width:95%;z-index:-1}.container-xxl{max-width:100%}.container-xl{max-width:1500px}.container-l{max-width:1200px}.container-m{max-width:1000px}.container-s{max-width:800px}.container-xs{max-width:680px}.container-xxs{max-width:450px}@media only screen and (min-width:601px){.container-s,.container-xs,.container-xxs{width:85%}}@media only screen and (min-width:993px){.container-s,.container-xs,.container-xxs{width:70%}}.col .row{margin-left:-.75rem;margin-right:-.75rem}.row{margin:30px 0}.row-paragraph{margin-top:50px}.row-section{margin-top:100px}.row-intro{padding:50px 0}.row-tagline{padding:40px 0}@media only screen and (max-width:601px){.row-intro{padding:20px 0}}.section{padding-top:1rem;padding-bottom:1rem}.section.no-pad{padding:0}.section.no-pad-bot{padding-bottom:0}.section.no-pad-top{padding-top:0}.row{margin-left:auto;margin-right:auto;margin-bottom:0}.row:after{content:"";display:table;clear:both}.row .col{float:left;-webkit-box-sizing:border-box;box-sizing:border-box;padding:0 .75rem;min-height:1px}.row .col[class*=pull-],.row .col[class*=push-]{position:relative}.row .col.s1{width:8.3333333333%;margin-left:auto;left:auto;right:auto}.row .col.s2{width:16.6666666667%;margin-left:auto;left:auto;right:auto}.row .col.s3{width:25%;margin-left:auto;left:auto;right:auto}.row .col.s4{width:33.3333333333%;margin-left:auto;left:auto;right:auto}.row .col.s5{width:41.6666666667%;margin-left:auto;left:auto;right:auto}.row .col.s6{width:50%;margin-left:auto;left:auto;right:auto}.row .col.s7{width:58.3333333333%;margin-left:auto;left:auto;right:auto}.row .col.s8{width:66.6666666667%;margin-left:auto;left:auto;right:auto}.row .col.s9{width:75%;margin-left:auto;left:auto;right:auto}.row .col.s10{width:83.3333333333%;margin-left:auto;left:auto;right:auto}.row .col.s11{width:91.6666666667%;margin-left:auto;left:auto;right:auto}.row .col.s12{width:100%;margin-left:auto;left:auto;right:auto}.row .col.offset-s1{margin-left:8.3333333333%}.row .col.pull-s1{right:8.3333333333%}.row .col.push-s1{left:8.3333333333%}.row .col.offset-s2{margin-left:16.6666666667%}.row .col.pull-s2{right:16.6666666667%}.row .col.push-s2{left:16.6666666667%}.row .col.offset-s3{margin-left:25%}.row .col.pull-s3{right:25%}.row .col.push-s3{left:25%}.row .col.offset-s4{margin-left:33.3333333333%}.row .col.pull-s4{right:33.3333333333%}.row .col.push-s4{left:33.3333333333%}.row .col.offset-s5{margin-left:41.6666666667%}.row .col.pull-s5{right:41.6666666667%}.row .col.push-s5{left:41.6666666667%}.row .col.offset-s6{margin-left:50%}.row .col.pull-s6{right:50%}.row .col.push-s6{left:50%}.row .col.offset-s7{margin-left:58.3333333333%}.row .col.pull-s7{right:58.3333333333%}.row .col.push-s7{left:58.3333333333%}.row .col.offset-s8{margin-left:66.6666666667%}.row .col.pull-s8{right:66.6666666667%}.row .col.push-s8{left:66.6666666667%}.row .col.offset-s9{margin-left:75%}.row .col.pull-s9{right:75%}.row .col.push-s9{left:75%}.row .col.offset-s10{margin-left:83.3333333333%}.row .col.pull-s10{right:83.3333333333%}.row .col.push-s10{left:83.3333333333%}.row .col.offset-s11{margin-left:91.6666666667%}.row .col.pull-s11{right:91.6666666667%}.row .col.push-s11{left:91.6666666667%}.row .col.offset-s12{margin-left:100%}.row .col.pull-s12{right:100%}.row .col.push-s12{left:100%}@media only screen and (min-width:601px){.row .col.m1{width:8.3333333333%;margin-left:auto;left:auto;right:auto}.row .col.m2{width:16.6666666667%;margin-left:auto;left:auto;right:auto}.row .col.m3{width:25%;margin-left:auto;left:auto;right:auto}.row .col.m4{width:33.3333333333%;margin-left:auto;left:auto;right:auto}.row .col.m5{width:41.6666666667%;margin-left:auto;left:auto;right:auto}.row .col.m6{width:50%;margin-left:auto;left:auto;right:auto}.row .col.m7{width:58.3333333333%;margin-left:auto;left:auto;right:auto}.row .col.m8{width:66.6666666667%;margin-left:auto;left:auto;right:auto}.row .col.m9{width:75%;margin-left:auto;left:auto;right:auto}.row .col.m10{width:83.3333333333%;margin-left:auto;left:auto;right:auto}.row .col.m11{width:91.6666666667%;margin-left:auto;left:auto;right:auto}.row .col.m12{width:100%;margin-left:auto;left:auto;right:auto}.row .col.offset-m1{margin-left:8.3333333333%}.row .col.pull-m1{right:8.3333333333%}.row .col.push-m1{left:8.3333333333%}.row .col.offset-m2{margin-left:16.6666666667%}.row .col.pull-m2{right:16.6666666667%}.row .col.push-m2{left:16.6666666667%}.row .col.offset-m3{margin-left:25%}.row .col.pull-m3{right:25%}.row .col.push-m3{left:25%}.row .col.offset-m4{margin-left:33.3333333333%}.row .col.pull-m4{right:33.3333333333%}.row .col.push-m4{left:33.3333333333%}.row .col.offset-m5{margin-left:41.6666666667%}.row .col.pull-m5{right:41.6666666667%}.row .col.push-m5{left:41.6666666667%}.row .col.offset-m6{margin-left:50%}.row .col.pull-m6{right:50%}.row .col.push-m6{left:50%}.row .col.offset-m7{margin-left:58.3333333333%}.row .col.pull-m7{right:58.3333333333%}.row .col.push-m7{left:58.3333333333%}.row .col.offset-m8{margin-left:66.6666666667%}.row .col.pull-m8{right:66.6666666667%}.row .col.push-m8{left:66.6666666667%}.row .col.offset-m9{margin-left:75%}.row .col.pull-m9{right:75%}.row .col.push-m9{left:75%}.row .col.offset-m10{margin-left:83.3333333333%}.row .col.pull-m10{right:83.3333333333%}.row .col.push-m10{left:83.3333333333%}.row .col.offset-m11{margin-left:91.6666666667%}.row .col.pull-m11{right:91.6666666667%}.row .col.push-m11{left:91.6666666667%}.row .col.offset-m12{margin-left:100%}.row .col.pull-m12{right:100%}.row .col.push-m12{left:100%}}@media only screen and (min-width:993px){.row .col.l1{width:8.3333333333%;margin-left:auto;left:auto;right:auto}.row .col.l2{width:16.6666666667%;margin-left:auto;left:auto;right:auto}.row .col.l3{width:25%;margin-left:auto;left:auto;right:auto}.row .col.l4{width:33.3333333333%;margin-left:auto;left:auto;right:auto}.row .col.l5{width:41.6666666667%;margin-left:auto;left:auto;right:auto}.row .col.l6{width:50%;margin-left:auto;left:auto;right:auto}.row .col.l7{width:58.3333333333%;margin-left:auto;left:auto;right:auto}.row .col.l8{width:66.6666666667%;margin-left:auto;left:auto;right:auto}.row .col.l9{width:75%;margin-left:auto;left:auto;right:auto}.row .col.l10{width:83.3333333333%;margin-left:auto;left:auto;right:auto}.row .col.l11{width:91.6666666667%;margin-left:auto;left:auto;right:auto}.row .col.l12{width:100%;margin-left:auto;left:auto;right:auto}.row .col.offset-l1{margin-left:8.3333333333%}.row .col.pull-l1{right:8.3333333333%}.row .col.push-l1{left:8.3333333333%}.row .col.offset-l2{margin-left:16.6666666667%}.row .col.pull-l2{right:16.6666666667%}.row .col.push-l2{left:16.6666666667%}.row .col.offset-l3{margin-left:25%}.row .col.pull-l3{right:25%}.row .col.push-l3{left:25%}.row .col.offset-l4{margin-left:33.3333333333%}.row .col.pull-l4{right:33.3333333333%}.row .col.push-l4{left:33.3333333333%}.row .col.offset-l5{margin-left:41.6666666667%}.row .col.pull-l5{right:41.6666666667%}.row .col.push-l5{left:41.6666666667%}.row .col.offset-l6{margin-left:50%}.row .col.pull-l6{right:50%}.row .col.push-l6{left:50%}.row .col.offset-l7{margin-left:58.3333333333%}.row .col.pull-l7{right:58.3333333333%}.row .col.push-l7{left:58.3333333333%}.row .col.offset-l8{margin-left:66.6666666667%}.row .col.pull-l8{right:66.6666666667%}.row .col.push-l8{left:66.6666666667%}.row .col.offset-l9{margin-left:75%}.row .col.pull-l9{right:75%}.row .col.push-l9{left:75%}.row .col.offset-l10{margin-left:83.3333333333%}.row .col.pull-l10{right:83.3333333333%}.row .col.push-l10{left:83.3333333333%}.row .col.offset-l11{margin-left:91.6666666667%}.row .col.pull-l11{right:91.6666666667%}.row .col.push-l11{left:91.6666666667%}.row .col.offset-l12{margin-left:100%}.row .col.pull-l12{right:100%}.row .col.push-l12{left:100%}}@media only screen and (min-width:1201px){.row .col.xl1{width:8.3333333333%;margin-left:auto;left:auto;right:auto}.row .col.xl2{width:16.6666666667%;margin-left:auto;left:auto;right:auto}.row .col.xl3{width:25%;margin-left:auto;left:auto;right:auto}.row .col.xl4{width:33.3333333333%;margin-left:auto;left:auto;right:auto}.row .col.xl5{width:41.6666666667%;margin-left:auto;left:auto;right:auto}.row .col.xl6{width:50%;margin-left:auto;left:auto;right:auto}.row .col.xl7{width:58.3333333333%;margin-left:auto;left:auto;right:auto}.row .col.xl8{width:66.6666666667%;margin-left:auto;left:auto;right:auto}.row .col.xl9{width:75%;margin-left:auto;left:auto;right:auto}.row .col.xl10{width:83.3333333333%;margin-left:auto;left:auto;right:auto}.row .col.xl11{width:91.6666666667%;margin-left:auto;left:auto;right:auto}.row .col.xl12{width:100%;margin-left:auto;left:auto;right:auto}.row .col.offset-xl1{margin-left:8.3333333333%}.row .col.pull-xl1{right:8.3333333333%}.row .col.push-xl1{left:8.3333333333%}.row .col.offset-xl2{margin-left:16.6666666667%}.row .col.pull-xl2{right:16.6666666667%}.row .col.push-xl2{left:16.6666666667%}.row .col.offset-xl3{margin-left:25%}.row .col.pull-xl3{right:25%}.row .col.push-xl3{left:25%}.row .col.offset-xl4{margin-left:33.3333333333%}.row .col.pull-xl4{right:33.3333333333%}.row .col.push-xl4{left:33.3333333333%}.row .col.offset-xl5{margin-left:41.6666666667%}.row .col.pull-xl5{right:41.6666666667%}.row .col.push-xl5{left:41.6666666667%}.row .col.offset-xl6{margin-left:50%}.row .col.pull-xl6{right:50%}.row .col.push-xl6{left:50%}.row .col.offset-xl7{margin-left:58.3333333333%}.row .col.pull-xl7{right:58.3333333333%}.row .col.push-xl7{left:58.3333333333%}.row .col.offset-xl8{margin-left:66.6666666667%}.row .col.pull-xl8{right:66.6666666667%}.row .col.push-xl8{left:66.6666666667%}.row .col.offset-xl9{margin-left:75%}.row .col.pull-xl9{right:75%}.row .col.push-xl9{left:75%}.row .col.offset-xl10{margin-left:83.3333333333%}.row .col.pull-xl10{right:83.3333333333%}.row .col.push-xl10{left:83.3333333333%}.row .col.offset-xl11{margin-left:91.6666666667%}.row .col.pull-xl11{right:91.6666666667%}.row .col.push-xl11{left:91.6666666667%}.row .col.offset-xl12{margin-left:100%}.row .col.pull-xl12{right:100%}.row .col.push-xl12{left:100%}}
html {
  overflow-y: scroll;
}
body {
  font-family: canada-type-gibson, sans-serif;
  font-weight: 300;
  font-style: normal;
  line-height: 1.5;
  margin: 0;
  padding: 60px 0 0 0;
}
b {
  font-weight: $bold;
}
.list {
  margin: 20px 0;
}
::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-track {
  background: white;
}
::-webkit-scrollbar-thumb {
  background: $gray-color;
  &:hover {
    background: $accent-color;
  }
}
::selection {
  background: $accent-color; /* WebKit/Blink Browsers */
  color: white;
}
::-moz-selection {
  background: $accent-color; /* Gecko Browsers */
  color: white;
}
.pace {
  -webkit-pointer-events: none;
  pointer-events: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}
.pace-inactive {
  display: none;
}
.pace .pace-progress {
  background-image: linear-gradient(to left, #FF3B4A, #FF8E3B, #FFF03B, #ACFF3B, #3BFFBF,#3BDDFF, #3B7BFF, #8E3BFF, #F03BFF);
  background-image: -webkit-linear-gradient(to left, #FF3B4A, #FF8E3B, #FFF03B, #ACFF3B, #3BFFBF,#3BDDFF, #3B7BFF, #8E3BFF, #F03BFF);
  background-image: linear-gradient(to left, #FF3B4A, #FF8E3B, #FFF03B, #ACFF3B, #3BFFBF,#3BDDFF, #3B7BFF, #8E3BFF, #F03BFF);
  position: fixed;
  z-index: 2000;
  top: 0;
  right: 100%;
  width: 100%;
  height: 4px;
}
.subheader, .body, .body ul {
  margin-top: 0;
}
.header {
  font-weight: $bold;
  font-size: $header-size;
  text-align: center;
}
.subheader {
  font-weight: $bold;
  font-size: $subheader-size;
}
.body, li {
  font-size: $body-size;
}
a {
  color: $accent-color;
  &:hover {
    transition: $transition-speed;
    color: $gray-color;
  }
}
.hint {
  font-size:$caption-size;
  color:white;
}
img {
  width:100%;
  max-width: 100%;
  -khtml-user-select: none;
  -o-user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}
.shadow {
  box-shadow: $shadow;
  border-radius: $rounded-border;
}
.caption {
  font-family: $mono-font;
  font-size: $caption-size;
  color: $gray-color;
  margin: 4px 0;
  span {
    font-style: italic;
    font-weight: bold;
  }
}

.hide {
  display: none !important;
}
#navbar {
  text-align: right;
  width: 100%;
  box-sizing: border-box;
  position: fixed;
  top: 0;
  left: 0;
  height: 65px;
  overflow: hidden;
  z-index: 99;
  transition: top $transition-speed;
}
.nav-logo, .nav-items {
  text-decoration: none;
}
.nav-logo {
  position: relative;
  margin: 0;
}
.nav-logo img {
  position: absolute;
  height: 40px;
  cursor: pointer;
  top: 10px;
  left: 20px;
  display: inline;
  overflow: hidden;
}
.nav-logo .swap__front {
  z-index: 9999;
  transition: opacity .2s linear;
}
.nav-logo:hover > .swap__front{
  opacity: 0;
}
.swap__front, .swap__back {
  width: auto;
}
.nav-items {
  margin: 0;
  padding-right: 50px;
  line-height: 65px;
  list-style: none;
  li {
    display:inline-block;
    padding-left: 50px;
    a {
      text-decoration: none;
      text-transform: uppercase;
      font-size: $body-size;
      color: $accent-color;
      &:hover {
        transition: $transition-speed;
        color: $gray-color;
      }
    }
  }
}
.icon-bar {
  background-color: $accent-color;
  display: block;
  width: 22px;
  height: 2px;
  border-radius: 1px;
  margin-bottom: 4px;
  transition: opacity, transform;
  transition-duration: 200ms;
  transition-timing-function: cubic-bezier(0.7, 0, 0, 0.7);
}
.hamburger-menu {
  cursor: pointer;
  position: fixed;
  top: 25px;
  right: 20px;
  z-index: 999;
  display: none;
  transition: top $transition-speed;
}
.hamburger-menu:not(.collapsed) .icon-bar:nth-child(1) {
  transform: translateY(6px) rotate(45deg);
}

.hamburger-menu:not(.collapsed) .icon-bar:nth-child(2) {
  opacity: 0;
  transform: translateX(-10px);
}

.hamburger-menu:not(.collapsed) .icon-bar:nth-child(3) {
  transform: translateY(-6px) rotate(-45deg);
}
.mobile-overlay {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: rgba(255, 255, 255, .95);
  overflow: auto;
  z-index: 99;
  display: none;
}
.mobile-nav-items {
  padding: 0;
  margin: 65px 0px;
  text-align: center;
  list-style: none;
  li {
    display: block;
    padding-top: 30px;
    a {
      text-decoration: none;
      font-size: $subheader-size;
      color: $accent-color;
      text-transform: uppercase;
      &:hover {
        transition: $transition-speed;
        color: $gray-color;
      }
    }
  }
}
.sticky {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
}
.sticky > nav {
  position: absolute;
  align-self: start;
  margin-top: 100px;
}
.scrollspy.active > a {
  color: $accent-color;
  font-weight: bold;
}
.section-nav {
  font-family: $mono-font;
  position: fixed;
  z-index: 1;
  right:25px;
  overflow-x: hidden;
  padding-left: 0;
  border-left: 1px solid rgba(0,0,0,0.1);
  max-width:160px;
  width: 90%;
}
.section-nav a {
  text-decoration: none;
  display: block;
  padding: .125rem 0;
  color: $gray-color;
  transition: all 50ms ease-in-out; /* 💡 This small transition makes setting of the active state smooth */
  &:hover, &:focus {
    color: $accent-color;
    transition: $transition-speed;
    font-weight: bold;
  }
}
.scrollspy-list, .scrollspy-order {
  list-style: none;
  margin: 0;
  padding: 0;
}
.scrollspy {
  margin-left: 1rem;
  padding: 4px 0;
  font-size: $caption-size;
}
.bottom-nav {
  background-color: white;
  border: none;
  padding: 20px;
  width: 100%;
  display: inline-block;
  margin: 10px 0;
  cursor: pointer;
  box-shadow: $shadow;
  color: $accent-color;
  font-size: $body-size;
  border-radius: $rounded-border;
  &:hover {
    color: $gray-color;
    transition: $transition-speed;
  }
}
.footer-bar {
  margin: 80px 0 50px 0;
  .fa-envelope, .fa-linkedin-in, .fa-instagram, .fa-vimeo-v, .fa-github, .fa-dribbble, .fa-behance {
    display: inline-block;
    padding: 8px;
    font-size: 20px;
    width: 20px;
    height: 20px;
    text-align: center;
    text-decoration: none;
    margin: 0 5px 0 0;
    border-radius: 50%;
    background: $accent-color;
    color: white;
    &:hover {
      transition: $transition-speed;
      background: $gray-color;
    }
  }
}
.back-to-top, .fa-arrow-up {
  padding: 0;
  font-size: $body-size;
  text-decoration: underline;
}
.copyright {
  font-family: $mono-font;
  font-size: $caption-size;
  color: $gray-color;
  margin-top: 50px;
}
.grid {
  margin-left: auto;
  margin-right: auto;
  &:after {
    content: '';
    display: block;
    clear: both;
  }
}
.grid-sizer--width1, .grid-item--width1 {
  margin: 1.5%;
  width: 30.33333333%;
}
.grid-sizer--width2, .grid-item--width2 {
  margin: 1.5%;
  width: 47%;
}
.grid-item {
  float: left;
  height: auto;
  img {
    display: block;
  }
  .fa-video, .fa-external-link-alt {
    font-size: $subheader-size;
    color: white;
    opacity: 0.8;
    text-shadow: 1px 1px 8px rgba(0, 0, 0, 0.5);
    position: absolute;
    top:16px;
  }
  .fa-video {
    left:16px;
  }
  .fa-external-link-alt {
    right:16px;
  }
}
.tagline, .specs-title, .specs-list {
  margin: 12px 0;
}
.tagline {
  font-size: $header-size;
  color: $gray-color;
  font-family: $mono-font;
}
.specs {
  list-style: none;
  color: $gray-color;
  padding: 0;
}
.specs-title, .specs-list {
  font-size: $body-size;
}
.specs-title {
  font-weight: $bold;
}
.specs-mobile {
  font-size: $body-size;
  color: $gray-color;
  padding: 0;
  display: none;
}
@media only screen and (max-width: 1200px) {
  .about {
    margin-top: 40px;
  }
  .section-nav {
    display: none;
  }
}
@media only screen and (max-width: 992px) {
  .animation, .hint {
    display: none;
  }
  .grid-sizer--width1, .grid-item--width1 {
    width: 47%;
  }
}
@media only screen and (max-width: 601px) {
  .hamburger-menu, .specs-mobile {
    display: block;
  }
  .nav-items, .specs  {
    display: none;
  }
  .header, .tagline {
    font-size: $header-small;
  }
  .subheader {
    font-size: $subheader-small;
  }
  .body, .quickNav a.selected, .quickNav a.unselected, li, .subheader-left, .subheader-right, .specs-mobile, .fa-arrow-up, .button-details p {
    font-size: $body-small;
  }
  .copyright, .caption, .button {
    font-size: $caption-small;
  }
  .caption {
    margin: 6px 0;
  }
  .grid-item .fa-video, .grid-item .fa-external-link-alt {
    font-size: $subheader-small;
    top:12px;
  }
  .grid-item .fa-video {
    left:12px;
  }
  .grid-item .fa-external-link-alt {
    right:12px;
  }
  .grid-sizer--width1, .grid-item--width1, .grid-sizer--width2, .grid-item--width2 {
    margin: 3%;
    width: 94%;
  }
  .row-tagline {
    padding:20px 0
  }
  .button-image {
    height:100px;
  }
}